[submodule "DarkBlobsIntermediateMediator"]
	path = DarkBlobsIntermediateMediator
	url = https://github.com/lk11235/DarkBlobsIntermediateMediator.git
[submodule "AxionSuperradianceDM"]
	path = AxionSuperradianceDM
	url = https://github.com/lk11235/AxionSuperradianceDM.git
[submodule "NeutrinoPeV"]
	path = NeutrinoPeV
	url = https://github.com/lk11235/NeutrinoPeV.git
